<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.sivrce.testi"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>satesto saxeli</name>

    <description>
        mokle agcera. 
    </description>

    <author href="http://sivrce.com" email="rez@sivrce.com">
        sivrce 
    </author>
<gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />
</widget>
